AmplitudeModulation: AmplitudeModulation > StatisticalIntegrator
EnvelopeShapeStatistics: EnvelopeShapeStatistics > StatisticalIntegrator
LPC: LPC > StatisticalIntegrator
LSF: LSF > StatisticalIntegrator
MelSpectrum: MelSpectrum > StatisticalIntegrator
OBSIR: OBSIR > StatisticalIntegrator
PerceptualSharpness: PerceptualSharpness > StatisticalIntegrator
PerceptualSpread: PerceptualSpread > StatisticalIntegrator
SpectralCrestFactorPerBand: SpectralCrestFactorPerBand > StatisticalIntegrator
SpectralDecrease: SpectralDecrease > StatisticalIntegrator
SpectralFlatness: SpectralFlatness > StatisticalIntegrator
SpectralFlatnessPerBand: SpectralFlatnessPerBand > StatisticalIntegrator
SpectralFlux: SpectralFlux > StatisticalIntegrator
SpectralRolloff: SpectralRolloff > StatisticalIntegrator
SpectralShapeStatistics: SpectralShapeStatistics > StatisticalIntegrator
SpectralSlope: SpectralSlope > StatisticalIntegrator
SpectralVariation: SpectralVariation > StatisticalIntegrator
TemporalShapeStatistics: TemporalShapeStatistics > StatisticalIntegrator
ZCR: ZCR > StatisticalIntegrator
