AmplitudeModulation: AmplitudeModulation
Envelope: Envelope
EnvelopeShapeStatistics: EnvelopeShapeStatistics
LPC: LPC
LSF: LSF
OBSI: OBSI
PerceptualSharpness: PerceptualSharpness
PerceptualSpread: PerceptualSpread
SpectralCrestFactorPerBand: SpectralCrestFactorPerBand
SpectralDecrease: SpectralDecrease
SpectralFlatness: SpectralFlatness
SpectralFlatnessPerBand: SpectralFlatnessPerBand
SpectralFlux: SpectralFlux
SpectralRolloff: SpectralRolloff
SpectralShapeStatistics: SpectralShapeStatistics
SpectralSlope: SpectralSlope
SpectralVariation: SpectralVariation
TemporalShapeStatistics: TemporalShapeStatistics
ZCR: ZCR