EnvelopeShapeStatistics: EnvelopeShapeStatistics
LPC_int: LPC > StatisticalIntegrator
LSF_int: LSF > StatisticalIntegrator
OBSIR_int: OBSIR > StatisticalIntegrator
PerceptualSharpness_int: PerceptualSharpness > StatisticalIntegrator
PerceptualSpread_int: PerceptualSpread > StatisticalIntegrator
PerceptualSpread_slope: PerceptualSpread > SlopeIntegrator
SpectralDecrease_int: SpectralDecrease > StatisticalIntegrator
SpectralDecrease_slope: SpectralDecrease > SlopeIntegrator
SpectralFlatness_int: SpectralFlatness > StatisticalIntegrator
SpectralRolloff_int: SpectralRolloff > StatisticalIntegrator
SpectralRolloff_der_slope: SpectralRolloff > Derivate DOrder=1 > SlopeIntegrator
SpectralRolloff_slope: SpectralRolloff > SlopeIntegrator
SpectralShapeStatistics_int: SpectralShapeStatistics > StatisticalIntegrator
SpectralSlope_int: SpectralSlope > StatisticalIntegrator
SpectralSlope_der_slope: SpectralSlope > Derivate DOrder=1 > SlopeIntegrator
SpectralSlope_slope: SpectralSlope > SlopeIntegrator
ZCR_int: ZCR > StatisticalIntegrator
ZCR_slope: ZCR > SlopeIntegrator
